body {
    margin: 0;
    padding: 0;
}

#container {    /* # id - use once*/
    background-color: white;
}

.left-pane {    /* . class - use multiple*/
    background-color: #099dfd;
    /*width: 20%;         % of contained div */
    width: 45%;        /* view width % */
    height: 100%;      /* view height % */
    padding: 50px;
    margin: auto;
    text-align: center;
    box-shadow: 8px 8px 8px #8888884d;
}

.logo{
    width: 10vw;
    padding-top: 20px;
    padding-left: 20px;
}

#img-container{
    max-width: 100%;
    max-height: 100% 
}

.loginContainer{
    padding-top: 20%;
    width: 75%;
    margin: auto;
}

span{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

#highlighted{
    color:#099dfd;
}

input{
    margin-top: 20px;
    width: 100%;
    font-size:1rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}

#email{         /* priority for whichever defined later */
    margin-top: 20px;
}

.submitButton{
    background-color: #099dfd;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
    float: left;
}

#flex-container{
    height: 65vh;
    margin: 2%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.right-pane{
    flex: 2;        /*Takes rest of right space*/
    width: 50%;        /* view width % */
    height: 100%;      /* view height % */
    padding: 50px;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 10px 10px #8888884d;
}

#illustration{
    max-width: 100%;
    max-height: 100%
}

#illustrationContainer{
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

#bottomText{
    font-size: 1.75rem;
    color: white;
    margin-top: 50px;
}